 @import '@csstools/normalize.css';

 /* used for exemple like -> background-color: var(--white-color); */
 :root {
   --white-color: #FFFFFF;
   --black12-color: #121212;
   --black15-color: #151515;
   --black16-color: #161616;
   --black1F-color: #1F1F1F;
   --blackpure-color: #000000;
   --light-green-color: #BEDBB0;
   --dark-green-color: #9DC888;
   --lightest-purple-color: #D6D8FF;
   --light-purple-color: #B8BCFD;
   --lightmedium-purple-color: #8FA1D0;
   --medium-purple-color: #7B7EDE;
   --dark-purple-color: #5255BC;
   --pink-color: #E09CB5;
   --gray-color: #808080;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html {
   font-size: 14px;
   width: 100vw;
 }

 body {
   font-family: 'poppins', sans-serif;
   font-style: normal;
   font-weight: 400;
 }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}